@import url("https://fonts.googleapis.com/css?family=Oswald|Roboto|Roboto+Condensed|Roboto+Mono&display=swap");

/* Element Styling */

* {
  padding: 0;
  margin: 0;
  text-align: center;
  line-height: 32px;
  font-size: 16px;
}

/* Banner */

header > h1 {
  font-size: 1.5em;
}

h1 {
  font-family: "Oswald";
  font-size: 2em;
}

h2 {
  font-family: "Oswald";
  font-size: 2em;
}

h3 {
  font-family: "Oswald";
  font-size: 1.25em;
}

header {
  margin: 0;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  z-index: 10;
  height: 75px;
  align-items: center;

  font-family: "Roboto Condensed";
  background: white;
  color: black;
  width: 100%;
  padding: 10px;
}

header > nav {
  vertical-align: middle;
}

footer {
  height: 50px;
  border-top: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
}
.nav-items > li > a {
  color: black;
}
.nav-items > li {
  list-style: none;
  padding: 0 5px;
  bottom: 0;
  color: black;
}

/* Main Styling */

main {
  display: flex;
  flex-direction: column;
  margin: 42px auto 0 auto;
  font-family: "Roboto Mono";
}

main > a > section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 50px;
}

.long {
  justify-content: space-around;
}

.short {
  margin-top: 20px;
  height: 400px;
}

.short,
.projects {
  color: white;
  background: #247ba0;
}

.link-list > a {
  color: white;
}

.hero-img {
  height: 270px;
  width: 225px;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.1));
  margin: 40px 10px;
}

.pictureSide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px auto;
}

.linkSide {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px auto;
}

.projectImg {
  height: 225px;
  width: 225px;
  margin: 20px auto;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.1));
  object-fit: cover;
}

.big-badge {
  height: 55px;
  width: 55px;
  vertical-align: middle;
}

.small-badge {
  height: 30px;
  width: 30px;
}

.badge-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 30px auto;
}

.link-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.nav-items > li > a:hover {
  text-decoration: none;
}
.link-list > a:hover {
  text-decoration: none;
}

/* Responsive Styling */

@media only screen and (min-width: 750px) {
  * {
    font-size: 24px;
  }
  header {
    height: 90px;
  }
  .projectImg {
    height: 380px;
    width: 100%;
  }
  .short {
    height: 800px;
  }
  .hero-img {
    height: 500px;
    width: 500px;
  }
  .short {
    flex-direction: row;
  }
  .short > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-sizing: border-box;
    height: 600px;
  }
  .projects {
    padding: 30px;
  }
  .projects > .container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 30px;
  }
  .small-badge {
    height: 50px;
    width: 50px;
  }
  .big-badge {
    height: 75px;
    width: 75px;
  }
  footer {
    height: 75px;
  }
  .tech-used {
    height: 50%;
  }
  .pictureSide {
    height: 100%;
    width: 45%;
  }
  .linkSide {
    height: 100%;
    width: 45%;
  }
  .nav-items > li > a {
    font-size: 28px;
  }
  .nav-items > li > a:hover {
    text-decoration: none;
  }
}
