@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed&display=swap");

/* Element Styling */

* {
  padding: 0;
  margin: 0;
  text-align: center;
  line-height: 24px;
  font-family: "Roboto Condensed";
  font-size: 16px;
}

/* Banner */

.banner {
  font-family: "Roboto";
  background: white;
  color: black;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

header {
  margin: 0;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  z-index: 10;
}

footer {
  height: 50px;
  border-top: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.nav-items > li {
  list-style: none;
  padding: 0 5px;
  bottom: 0;
}

/* Main Styling */

main {
  display: flex;
  flex-direction: column;
  margin: 42px auto 0 auto;
}

main > section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 250px;
  padding: 20px;
}

.short {
  height: 400px;
}

.short,
.projects {
  color: white;
  background: #247ba0;
}

.projects {
  height: 550px;
}

.link-list > a {
  color: white;
}

.hero-img {
  height: 270px;
  width: 225px;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.1));
}

.pictureSide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
}

.linkSide {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
}

.projectImg {
  height: 225px;
  width: 225px;
  margin: 5px auto;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.1));
}

.big-badge {
  height: 65px;
  width: 65px;
  vertical-align: middle;
}

.small-badge {
  height: 30px;
  width: 30px;
  vertical-align: middle;
}

.badge-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px auto;
}

.link-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* Responsive Styling */

@media only screen and (min-width: 750px) {
  * {
    font-size: 24px;
  }
  .projectImg {
    height: 300px;
    width: 300px;
  }
  .hero-img {
    height: 600px;
    width: 600px;
  }
  main > .short {
    flex-direction: row;
  }
  main > .projects {
    flex-direction: row;
    height: 900px;
  }
  main > section {
    height: 750px;
  }
  .badge {
    height: 50px;
    width: 50px;
  }
  footer {
    height: 100px;
  }
  .tech-used {
    height: 50%;
  }
}
